<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A-cy</key>
	<dict>
		<key>Che-cy</key>
		<integer>-60</integer>
		<key>Hardsign-cy</key>
		<integer>-90</integer>
		<key>Te-cy</key>
		<integer>-60</integer>
		<key>U-cy</key>
		<integer>-80</integer>
		<key>hardsign-cy</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
		<key>te-cy</key>
		<integer>-34</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>T</key>
		<integer>-40</integer>
		<key>public.kern2.V</key>
		<integer>-60</integer>
		<key>public.kern2.Y</key>
		<integer>-70</integer>
	</dict>
	<key>De-cy</key>
	<dict>
		<key>Che-cy</key>
		<integer>-70</integer>
		<key>Ef-cy</key>
		<integer>-40</integer>
		<key>Hardsign-cy</key>
		<integer>-90</integer>
		<key>Te-cy</key>
		<integer>-80</integer>
		<key>U-cy</key>
		<integer>-80</integer>
		<key>che-cy</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-30</integer>
		<key>quotedbl</key>
		<integer>-110</integer>
		<key>te-cy</key>
		<integer>-20</integer>
	</dict>
	<key>Ef-cy</key>
	<dict>
		<key>El-cy</key>
		<integer>-30</integer>
		<key>Ereversed-cy</key>
		<integer>-30</integer>
		<key>Hardsign-cy</key>
		<integer>-70</integer>
		<key>Te-cy</key>
		<integer>-70</integer>
		<key>U-cy</key>
		<integer>-50</integer>
		<key>Ze-cy</key>
		<integer>-20</integer>
		<key>el-cy</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>El-cy</key>
	<dict>
		<key>Che-cy</key>
		<integer>-40</integer>
		<key>Ef-cy</key>
		<integer>-20</integer>
		<key>Hardsign-cy</key>
		<integer>-80</integer>
		<key>Te-cy</key>
		<integer>-50</integer>
		<key>U-cy</key>
		<integer>-50</integer>
		<key>che-cy</key>
		<integer>-30</integer>
		<key>hardsign-cy</key>
		<integer>-50</integer>
		<key>public.kern2.y</key>
		<integer>-30</integer>
		<key>quotedbl</key>
		<integer>-80</integer>
		<key>te-cy</key>
		<integer>-20</integer>
	</dict>
	<key>Er-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-40</integer>
		<key>El-cy</key>
		<integer>-20</integer>
		<key>Hardsign-cy</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>el-cy</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>te-cy</key>
		<integer>20</integer>
	</dict>
	<key>Ereversed-cy</key>
	<dict>
		<key>El-cy</key>
		<integer>-20</integer>
		<key>Ha-cy</key>
		<integer>-30</integer>
		<key>Te-cy</key>
		<integer>-30</integer>
		<key>U-cy</key>
		<integer>-40</integer>
		<key>el-cy</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>Es-cy</key>
	<dict>
		<key>Hardsign-cy</key>
		<integer>-70</integer>
		<key>U-cy</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>J</key>
		<integer>-90</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-70</integer>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.c</key>
		<integer>-20</integer>
		<key>public.kern2.e</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>T</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-90</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>J</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-40</integer>
	</dict>
	<key>Hardsign-cy</key>
	<dict>
		<key>Che-cy</key>
		<integer>-40</integer>
		<key>Hardsign-cy</key>
		<integer>-130</integer>
		<key>Te-cy</key>
		<integer>-110</integer>
		<key>U-cy</key>
		<integer>-110</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-150</integer>
		<key>te-cy</key>
		<integer>-30</integer>
	</dict>
	<key>Ie-cy</key>
	<dict>
		<key>Hardsign-cy</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
	</dict>
	<key>Io-cy</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>-20</integer>
	</dict>
	<key>Iu-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-40</integer>
		<key>De-cy</key>
		<integer>-30</integer>
		<key>Hardsign-cy</key>
		<integer>-60</integer>
		<key>Te-cy</key>
		<integer>-40</integer>
		<key>U-cy</key>
		<integer>-40</integer>
		<key>Ze-cy</key>
		<integer>-20</integer>
		<key>el-cy</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>quotedbl</key>
		<integer>-40</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>H</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-60</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.V</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.c</key>
		<integer>-30</integer>
		<key>public.kern2.e</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-10</integer>
		<key>public.kern2.y</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-60</integer>
	</dict>
	<key>Ka-cy</key>
	<dict>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>quotedbl</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>J</key>
		<integer>-90</integer>
		<key>comma</key>
		<integer>-90</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>public.kern2.A</key>
		<integer>-70</integer>
		<key>public.kern2.V</key>
		<integer>-40</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>H</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-80</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-80</integer>
		<key>public.kern2.Y</key>
		<integer>-110</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>quotedbl</key>
		<integer>-50</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>H</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-110</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.U</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-130</integer>
		<key>public.kern2.Y</key>
		<integer>-140</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.y</key>
		<integer>-50</integer>
		<key>quotedbl</key>
		<integer>-90</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-50</integer>
	</dict>
	<key>Shcha-cy</key>
	<dict>
		<key>Ef-cy</key>
		<integer>-50</integer>
		<key>Ereversed-cy</key>
		<integer>-20</integer>
		<key>Es-cy</key>
		<integer>-50</integer>
		<key>Hardsign-cy</key>
		<integer>-70</integer>
		<key>Te-cy</key>
		<integer>-60</integer>
		<key>U-cy</key>
		<integer>-50</integer>
		<key>hardsign-cy</key>
		<integer>-70</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>quotedbl</key>
		<integer>-50</integer>
	</dict>
	<key>Softsign-cy</key>
	<dict>
		<key>Hardsign-cy</key>
		<integer>-110</integer>
		<key>Te-cy</key>
		<integer>-70</integer>
		<key>U-cy</key>
		<integer>-60</integer>
		<key>quotedbl</key>
		<integer>-180</integer>
		<key>te-cy</key>
		<integer>-10</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>J</key>
		<integer>-100</integer>
		<key>colon</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>d</key>
		<integer>-40</integer>
		<key>g</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-90</integer>
		<key>public.kern2.A</key>
		<integer>-70</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.c</key>
		<integer>-40</integer>
		<key>public.kern2.e</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.s</key>
		<integer>-30</integer>
		<key>public.kern2.z</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-20</integer>
	</dict>
	<key>Te-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-40</integer>
		<key>De-cy</key>
		<integer>-20</integer>
		<key>El-cy</key>
		<integer>-30</integer>
		<key>Ia-cy</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>el-cy</key>
		<integer>-50</integer>
		<key>es-cy</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.e</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
	</dict>
	<key>Tse-cy</key>
	<dict>
		<key>Che-cy</key>
		<integer>-40</integer>
		<key>Ef-cy</key>
		<integer>-40</integer>
		<key>Hardsign-cy</key>
		<integer>-70</integer>
		<key>Te-cy</key>
		<integer>-60</integer>
		<key>U-cy</key>
		<integer>-70</integer>
		<key>hardsign-cy</key>
		<integer>-70</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>public.kern2.Ge-cy</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-60</integer>
		<key>te-cy</key>
		<integer>-50</integer>
	</dict>
	<key>U-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-30</integer>
		<key>El-cy</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>el-cy</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-40</integer>
	</dict>
	<key>Ve-cy</key>
	<dict>
		<key>quotedblright</key>
		<integer>-20</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>Q</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>public.kern2.C</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.c</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-30</integer>
	</dict>
	<key>Ze-cy</key>
	<dict>
		<key>Ef-cy</key>
		<integer>-20</integer>
		<key>Hardsign-cy</key>
		<integer>-30</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>-10</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>Che-cy</key>
		<integer>-140</integer>
		<key>H</key>
		<integer>0</integer>
		<key>Hardsign-cy</key>
		<integer>-150</integer>
		<key>T</key>
		<integer>-110</integer>
		<key>f</key>
		<integer>-40</integer>
		<key>hardsign-cy</key>
		<integer>-70</integer>
		<key>one</key>
		<integer>-130</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.U</key>
		<integer>-50</integer>
		<key>public.kern2.V</key>
		<integer>-190</integer>
		<key>public.kern2.Y</key>
		<integer>-140</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>-100</integer>
		<key>public.kern2.y</key>
		<integer>-60</integer>
		<key>te-cy</key>
		<integer>-60</integer>
	</dict>
	<key>ef-cy</key>
	<dict>
		<key>hardsign-cy</key>
		<integer>-30</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>four</key>
		<integer>-30</integer>
		<key>one</key>
		<integer>-40</integer>
		<key>seven</key>
		<integer>-40</integer>
	</dict>
	<key>el-cy</key>
	<dict>
		<key>che-cy</key>
		<integer>-30</integer>
		<key>de-cy</key>
		<integer>-20</integer>
		<key>hardsign-cy</key>
		<integer>-70</integer>
		<key>public.kern2.y</key>
		<integer>-50</integer>
		<key>quotedbl</key>
		<integer>-60</integer>
		<key>te-cy</key>
		<integer>-50</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>one</key>
		<integer>-30</integer>
	</dict>
	<key>ereversed-cy</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>-20</integer>
	</dict>
	<key>es-cy</key>
	<dict>
		<key>hardsign-cy</key>
		<integer>-30</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>comma</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>public.kern2.n</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>one</key>
		<integer>-20</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>one</key>
		<integer>-30</integer>
		<key>seven</key>
		<integer>-40</integer>
	</dict>
	<key>ge-cy</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>el-cy</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>ha-cy</key>
	<dict>
		<key>hyphen</key>
		<integer>-30</integer>
	</dict>
	<key>hardsign-cy</key>
	<dict>
		<key>che-cy</key>
		<integer>-30</integer>
		<key>hardsign-cy</key>
		<integer>-100</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-60</integer>
		<key>te-cy</key>
		<integer>-40</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>Ha-cy</key>
		<integer>-30</integer>
		<key>Hardsign-cy</key>
		<integer>-110</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-110</integer>
		<key>Te-cy</key>
		<integer>-80</integer>
		<key>U-cy</key>
		<integer>-80</integer>
		<key>X</key>
		<integer>-50</integer>
		<key>ereversed-cy</key>
		<integer>-30</integer>
		<key>ha-cy</key>
		<integer>-40</integer>
		<key>hardsign-cy</key>
		<integer>-60</integer>
		<key>one</key>
		<integer>-60</integer>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-90</integer>
		<key>public.kern2.Z</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-60</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>iu-cy</key>
	<dict>
		<key>hardsign-cy</key>
		<integer>-30</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
	</dict>
	<key>ka-cy</key>
	<dict>
		<key>public.kern2.y</key>
		<integer>-20</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>one</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>seven</key>
		<integer>-30</integer>
		<key>three</key>
		<integer>-20</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>one</key>
		<integer>-10</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>Che-cy</key>
		<integer>-70</integer>
		<key>Hardsign-cy</key>
		<integer>-90</integer>
		<key>T</key>
		<integer>-150</integer>
		<key>Te-cy</key>
		<integer>-80</integer>
		<key>f</key>
		<integer>-50</integer>
		<key>hardsign-cy</key>
		<integer>-80</integer>
		<key>one</key>
		<integer>-90</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.U</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-150</integer>
		<key>public.kern2.Y</key>
		<integer>-130</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>-70</integer>
		<key>public.kern2.y</key>
		<integer>-60</integer>
		<key>te-cy</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>Q</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>public.kern2.C</key>
		<integer>0</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-120</integer>
		<key>public.kern2.Y</key>
		<integer>-120</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-110</integer>
		<key>quotedblright</key>
		<integer>-110</integer>
		<key>quoteright</key>
		<integer>-110</integer>
		<key>quotesingle</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>-50</integer>
		<key>t</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>H</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.D</key>
	<dict>
		<key>J</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-80</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-50</integer>
		<key>public.kern2.Y</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.Ge-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-40</integer>
		<key>De-cy</key>
		<integer>-60</integer>
		<key>El-cy</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>el-cy</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-90</integer>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>Q</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-130</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>public.kern2.C</key>
		<integer>-50</integer>
		<key>public.kern2.O</key>
		<integer>-50</integer>
		<key>public.kern2.U</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-150</integer>
		<key>public.kern2.Y</key>
		<integer>-170</integer>
		<key>public.kern2.y</key>
		<integer>-80</integer>
		<key>quotedbl</key>
		<integer>-170</integer>
		<key>quotedblright</key>
		<integer>-170</integer>
		<key>quoteright</key>
		<integer>-170</integer>
		<key>quotesingle</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>-90</integer>
		<key>w</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>Hardsign-cy</key>
		<integer>-40</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-60</integer>
		<key>public.kern2.Y</key>
		<integer>-60</integer>
		<key>space</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>public.kern2.A</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>J</key>
		<integer>-90</integer>
		<key>Q</key>
		<integer>-30</integer>
		<key>colon</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>d</key>
		<integer>-80</integer>
		<key>g</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>m</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-70</integer>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-70</integer>
		<key>public.kern2.c</key>
		<integer>-60</integer>
		<key>public.kern2.e</key>
		<integer>-50</integer>
		<key>public.kern2.i</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-70</integer>
		<key>public.kern2.s</key>
		<integer>-40</integer>
		<key>public.kern2.u</key>
		<integer>-50</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>semicolon</key>
		<integer>-60</integer>
		<key>space</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>H</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-40</integer>
		<key>R</key>
		<integer>-20</integer>
		<key>colon</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>d</key>
		<integer>-80</integer>
		<key>g</key>
		<integer>-70</integer>
		<key>hyphen</key>
		<integer>-65</integer>
		<key>m</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-110</integer>
		<key>public.kern2.A</key>
		<integer>-110</integer>
		<key>public.kern2.C</key>
		<integer>-30</integer>
		<key>public.kern2.D</key>
		<integer>-20</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-50</integer>
		<key>public.kern2.a</key>
		<integer>-90</integer>
		<key>public.kern2.c</key>
		<integer>-80</integer>
		<key>public.kern2.e</key>
		<integer>-80</integer>
		<key>public.kern2.i</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-90</integer>
		<key>public.kern2.s</key>
		<integer>-60</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-31</integer>
		<key>public.kern2.z</key>
		<integer>-50</integer>
		<key>semicolon</key>
		<integer>-30</integer>
		<key>space</key>
		<integer>-40</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>hyphen</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.e</key>
	<dict>
		<key>hardsign-cy</key>
		<integer>-40</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>comma</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.y</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
		<key>el-cy</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>De-cy</key>
		<integer>-90</integer>
		<key>El-cy</key>
		<integer>-70</integer>
		<key>Ia-cy</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-150</integer>
		<key>el-cy</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-130</integer>
		<key>public.kern2.e</key>
		<integer>-40</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A-cy</key>
		<integer>-40</integer>
		<key>public.kern2.A</key>
		<integer>-80</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-70</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-70</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>H</key>
		<integer>0</integer>
		<key>public.kern2.A</key>
		<integer>-60</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>comma</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-130</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>shcha-cy</key>
	<dict>
		<key>hardsign-cy</key>
		<integer>-50</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>one</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>seven</key>
		<integer>-20</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>A-cy</key>
		<integer>-40</integer>
		<key>El-cy</key>
		<integer>-20</integer>
	</dict>
	<key>softsign-cy</key>
	<dict>
		<key>hardsign-cy</key>
		<integer>-70</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.V</key>
		<integer>-70</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>public.kern2.v</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>-30</integer>
	</dict>
	<key>te-cy</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>el-cy</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>four</key>
		<integer>-30</integer>
	</dict>
	<key>tse-cy</key>
	<dict>
		<key>hardsign-cy</key>
		<integer>-40</integer>
		<key>te-cy</key>
		<integer>-20</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>four</key>
		<integer>-30</integer>
		<key>one</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-40</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-20</integer>
	</dict>
	<key>ve-cy</key>
	<dict>
		<key>hardsign-cy</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-30</integer>
		<key>te-cy</key>
		<integer>-20</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>hyphen</key>
		<integer>-20</integer>
	</dict>
	<key>yeru-cy</key>
	<dict>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>one</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>seven</key>
		<integer>-60</integer>
	</dict>
</dict>
</plist>
