<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>CF9497EE-3EC0-42B6-AB9D-60F0E4A560B4</key>
			<dict/>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>200</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>CF9497EE-3EC0-42B6-AB9D-60F0E4A560B4</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>Scaron</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
		<string>jdotless</string>
		<string>k</string>
		<string>l</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>scaron</string>
		<string>germandbls</string>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zcaron</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>A-cy</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>De-cy</string>
		<string>Ie-cy</string>
		<string>Iegrave-cy</string>
		<string>Io-cy</string>
		<string>Zhe-cy</string>
		<string>Ze-cy</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>Iigrave-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>O-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Es-cy</string>
		<string>Te-cy</string>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Ef-cy</string>
		<string>Ha-cy</string>
		<string>Che-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Dzhe-cy</string>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Yeru-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Dze-cy</string>
		<string>E-cy</string>
		<string>Ereversed-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Je-cy</string>
		<string>Tshe-cy</string>
		<string>Iu-cy</string>
		<string>Ia-cy</string>
		<string>Dje-cy</string>
		<string>Yat-cy</string>
		<string>Fita-cy</string>
		<string>Izhitsa-cy</string>
		<string>De-cy.ss01</string>
		<string>El-cy.ss01</string>
		<string>a-cy</string>
		<string>be-cy</string>
		<string>ve-cy</string>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>gheupturn-cy</string>
		<string>de-cy</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>zhe-cy</string>
		<string>ze-cy</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>iigrave-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>el-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>o-cy</string>
		<string>pe-cy</string>
		<string>er-cy</string>
		<string>es-cy</string>
		<string>te-cy</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>ef-cy</string>
		<string>ha-cy</string>
		<string>che-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>dzhe-cy</string>
		<string>softsign-cy</string>
		<string>hardsign-cy</string>
		<string>yeru-cy</string>
		<string>lje-cy</string>
		<string>nje-cy</string>
		<string>dze-cy</string>
		<string>e-cy</string>
		<string>ereversed-cy</string>
		<string>i-cy</string>
		<string>yi-cy</string>
		<string>je-cy</string>
		<string>tshe-cy</string>
		<string>iu-cy</string>
		<string>ia-cy</string>
		<string>dje-cy</string>
		<string>yat-cy</string>
		<string>fita-cy</string>
		<string>izhitsa-cy</string>
		<string>de-cy.ss01</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>space</string>
		<string>nbspace</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>hryvnia</string>
		<string>ruble</string>
		<string>sterling</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>emptyset</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>micro</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>upArrow</string>
		<string>northEastArrow</string>
		<string>rightArrow</string>
		<string>southEastArrow</string>
		<string>downArrow</string>
		<string>southWestArrow</string>
		<string>leftArrow</string>
		<string>northWestArrow</string>
		<string>leftRightArrow</string>
		<string>upDownArrow</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>numero</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>brevecomb-cy</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>A-cy</key>
		<string>uni0410</string>
		<key>Be-cy</key>
		<string>uni0411</string>
		<key>Che-cy</key>
		<string>uni0427</string>
		<key>De-cy</key>
		<string>uni0414</string>
		<key>De-cy.ss01</key>
		<string>uni0414.ss01</string>
		<key>Dje-cy</key>
		<string>uni0402</string>
		<key>Dze-cy</key>
		<string>uni0405</string>
		<key>Dzhe-cy</key>
		<string>uni040F</string>
		<key>E-cy</key>
		<string>uni0404</string>
		<key>Ef-cy</key>
		<string>uni0424</string>
		<key>El-cy</key>
		<string>uni041B</string>
		<key>El-cy.ss01</key>
		<string>uni041B.ss01</string>
		<key>Em-cy</key>
		<string>uni041C</string>
		<key>En-cy</key>
		<string>uni041D</string>
		<key>Er-cy</key>
		<string>uni0420</string>
		<key>Ereversed-cy</key>
		<string>uni042D</string>
		<key>Es-cy</key>
		<string>uni0421</string>
		<key>Fita-cy</key>
		<string>uni0472</string>
		<key>Ge-cy</key>
		<string>uni0413</string>
		<key>Gheupturn-cy</key>
		<string>uni0490</string>
		<key>Gje-cy</key>
		<string>uni0403</string>
		<key>Ha-cy</key>
		<string>uni0425</string>
		<key>Hardsign-cy</key>
		<string>uni042A</string>
		<key>I-cy</key>
		<string>uni0406</string>
		<key>Ia-cy</key>
		<string>uni042F</string>
		<key>Ie-cy</key>
		<string>uni0415</string>
		<key>Iegrave-cy</key>
		<string>uni0400</string>
		<key>Ii-cy</key>
		<string>uni0418</string>
		<key>Iigrave-cy</key>
		<string>uni040D</string>
		<key>Iishort-cy</key>
		<string>uni0419</string>
		<key>Io-cy</key>
		<string>uni0401</string>
		<key>Iu-cy</key>
		<string>uni042E</string>
		<key>Izhitsa-cy</key>
		<string>uni0474</string>
		<key>Je-cy</key>
		<string>uni0408</string>
		<key>Ka-cy</key>
		<string>uni041A</string>
		<key>Kje-cy</key>
		<string>uni040C</string>
		<key>Lje-cy</key>
		<string>uni0409</string>
		<key>Nje-cy</key>
		<string>uni040A</string>
		<key>O-cy</key>
		<string>uni041E</string>
		<key>Pe-cy</key>
		<string>uni041F</string>
		<key>Sha-cy</key>
		<string>uni0428</string>
		<key>Shcha-cy</key>
		<string>uni0429</string>
		<key>Softsign-cy</key>
		<string>uni042C</string>
		<key>Te-cy</key>
		<string>uni0422</string>
		<key>Tse-cy</key>
		<string>uni0426</string>
		<key>Tshe-cy</key>
		<string>uni040B</string>
		<key>U-cy</key>
		<string>uni0423</string>
		<key>Ushort-cy</key>
		<string>uni040E</string>
		<key>Ve-cy</key>
		<string>uni0412</string>
		<key>Yat-cy</key>
		<string>uni0462</string>
		<key>Yeru-cy</key>
		<string>uni042B</string>
		<key>Yi-cy</key>
		<string>uni0407</string>
		<key>Ze-cy</key>
		<string>uni0417</string>
		<key>Zhe-cy</key>
		<string>uni0416</string>
		<key>a-cy</key>
		<string>uni0430</string>
		<key>be-cy</key>
		<string>uni0431</string>
		<key>brevecomb-cy</key>
		<string>uni0306.cy</string>
		<key>che-cy</key>
		<string>uni0447</string>
		<key>de-cy</key>
		<string>uni0434</string>
		<key>de-cy.ss01</key>
		<string>uni0434.ss01</string>
		<key>dje-cy</key>
		<string>uni0452</string>
		<key>downArrow</key>
		<string>arrowdown</string>
		<key>dze-cy</key>
		<string>uni0455</string>
		<key>dzhe-cy</key>
		<string>uni045F</string>
		<key>e-cy</key>
		<string>uni0454</string>
		<key>ef-cy</key>
		<string>uni0444</string>
		<key>el-cy</key>
		<string>uni043B</string>
		<key>em-cy</key>
		<string>uni043C</string>
		<key>en-cy</key>
		<string>uni043D</string>
		<key>er-cy</key>
		<string>uni0440</string>
		<key>ereversed-cy</key>
		<string>uni044D</string>
		<key>es-cy</key>
		<string>uni0441</string>
		<key>euro</key>
		<string>Euro</string>
		<key>fita-cy</key>
		<string>uni0473</string>
		<key>ge-cy</key>
		<string>uni0433</string>
		<key>gheupturn-cy</key>
		<string>uni0491</string>
		<key>gje-cy</key>
		<string>uni0453</string>
		<key>guillemetleft</key>
		<string>guillemotleft</string>
		<key>guillemetright</key>
		<string>guillemotright</string>
		<key>ha-cy</key>
		<string>uni0445</string>
		<key>hardsign-cy</key>
		<string>uni044A</string>
		<key>hryvnia</key>
		<string>uni20B4</string>
		<key>i-cy</key>
		<string>uni0456</string>
		<key>ia-cy</key>
		<string>uni044F</string>
		<key>idotless</key>
		<string>dotlessi</string>
		<key>ie-cy</key>
		<string>uni0435</string>
		<key>iegrave-cy</key>
		<string>uni0450</string>
		<key>ii-cy</key>
		<string>uni0438</string>
		<key>iigrave-cy</key>
		<string>uni045D</string>
		<key>iishort-cy</key>
		<string>uni0439</string>
		<key>io-cy</key>
		<string>uni0451</string>
		<key>iu-cy</key>
		<string>uni044E</string>
		<key>izhitsa-cy</key>
		<string>uni0475</string>
		<key>jdotless</key>
		<string>uni0237</string>
		<key>je-cy</key>
		<string>uni0458</string>
		<key>ka-cy</key>
		<string>uni043A</string>
		<key>kje-cy</key>
		<string>uni045C</string>
		<key>leftArrow</key>
		<string>arrowleft</string>
		<key>leftRightArrow</key>
		<string>arrowboth</string>
		<key>lje-cy</key>
		<string>uni0459</string>
		<key>micro</key>
		<string>uni00B5</string>
		<key>nbspace</key>
		<string>uni00A0</string>
		<key>nje-cy</key>
		<string>uni045A</string>
		<key>northEastArrow</key>
		<string>uni2197</string>
		<key>northWestArrow</key>
		<string>uni2196</string>
		<key>numero</key>
		<string>uni2116</string>
		<key>o-cy</key>
		<string>uni043E</string>
		<key>onesuperior</key>
		<string>uni00B9</string>
		<key>pe-cy</key>
		<string>uni043F</string>
		<key>rightArrow</key>
		<string>arrowright</string>
		<key>ruble</key>
		<string>uni20BD</string>
		<key>sha-cy</key>
		<string>uni0448</string>
		<key>shcha-cy</key>
		<string>uni0449</string>
		<key>softsign-cy</key>
		<string>uni044C</string>
		<key>southEastArrow</key>
		<string>uni2198</string>
		<key>southWestArrow</key>
		<string>uni2199</string>
		<key>te-cy</key>
		<string>uni0442</string>
		<key>threesuperior</key>
		<string>uni00B3</string>
		<key>tse-cy</key>
		<string>uni0446</string>
		<key>tshe-cy</key>
		<string>uni045B</string>
		<key>twosuperior</key>
		<string>uni00B2</string>
		<key>u-cy</key>
		<string>uni0443</string>
		<key>upArrow</key>
		<string>arrowup</string>
		<key>upDownArrow</key>
		<string>arrowupdn</string>
		<key>ushort-cy</key>
		<string>uni045E</string>
		<key>ve-cy</key>
		<string>uni0432</string>
		<key>yat-cy</key>
		<string>uni0463</string>
		<key>yeru-cy</key>
		<string>uni044B</string>
		<key>yi-cy</key>
		<string>uni0457</string>
		<key>ze-cy</key>
		<string>uni0437</string>
		<key>zhe-cy</key>
		<string>uni0436</string>
	</dict>
</dict>
</plist>
